.btn {
  cursor: pointer;
  font-weight: 700;
  display: flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #1f813c;
}
.primaryBtn {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: conic-gradient(
    from 0deg at 50% 50%,
    #57ae10 0deg,
    #1e8139 360deg
  );
  cursor: pointer;
}
.secondaryBtn {
  cursor: pointer;
  display: flex;
  padding: 21px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #2d3035;
  color: #7a8792;
  font-size: 18px;
  font-weight: 700;
}

.secondaryBtn:hover {
  color: #fff;
  background: #1f813c;
}
