.footerWrapper {
  margin: 0 auto;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  background: #1a1c20;
}
.left {
  display: flex;
  gap: 100px;
}
.menus {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menuHeading {
  color: #cfd8df;
  font-size: 15px;
  font-weight: 600;
}
.menusItem {
  cursor: pointer;
  list-style: none;
  color: #7a8792;
  font-size: 13px;
  font-weight: 600;
}
.right {
}
