.container {
  padding: 30px 0 80px 0;
}
.wrapper {
  display: flex;
  gap: 20px;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background: #2d3035;
}
.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socialIcon {
  cursor: pointer;
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.verticalLine {
  border-left: 1px solid #7a8792;
  height: 50px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .verticalLine {
    display: none;
  }
}
